@import './colors';
@import './util';

footer {
  height: 8vh;
  @include flex-center();
  background-color: $black;
  color: $white;

  a {
    @include flex-center();
  }

  p {
    font-family: $footer-font;
  }

  a > img {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1px;

    &:hover {
      background-color: white;
    }
  }

  a,
  p {
    margin: 0 1rem;
  }
}