@import './colors';
@import './util';

.results, .loading {

  border: 2px inset #797777;
  background-color: $white;
  height: 80%;
  width: 80%;
  max-width: 800px;
  overflow: scroll;
  scroll-behavior: smooth;

  pre {
    padding: 10px;
    font-family: $body-font;
    font-size: 18px;
  }

  .img {
    font-family: $body-font;
    height: 10%;
    width: 10%;
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin { 
  100% { -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
    }
  }