@import './reset.scss';
@import './header';
@import './main';
@import './form';
@import './results';
@import './footer';
@import './history';
@import './sidebar';


#root {
  width: 100vw;
  height: 100vh;
}

.resty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}





